@import '../variables';

//Глобальные константы
$max-form-width: 450px;
$elements-radius: 5px;

//БАЗОВЫЕ СТИЛИ
// ---СТРАНИЦ ВХОДА,
// --РЕГИСТРАЦИИ,
// --ВОССТАНОВЛЕНИЯ ПАРОЛЯ,
// -- СОЗДАНИЕ НОВОГО ПАРОЛЯ
.security-main {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font: $font-normal;
  color: $dark-font-color;
  background-color: $light-main-color;


  .max-wrap {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1440px;
  }

  .header {
    margin: 0 auto auto auto;
    padding: 1rem 2rem;
    width: 100%;

    box-sizing: border-box;

    background-color: $white-main-color;

    .max-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      box-sizing: border-box;

      @media screen and (max-width: 532px) {
        max-width: 468px;
      }
    }

    a {
      margin: 0 0 0 1rem;

      @media screen and (max-width: 320px) {
        margin-left: 0.75rem;
        font: $font-small;
      }
    }

    .logo {
      margin: 0 auto 0 0;

      color: $dark-font-color;
      font: $font-large-bold;

      @media screen and (max-width: 320px) {
        font: $font-normal;
        font-weight: 800;
      }
    }

    @media screen and (max-width: 532px) {
      padding: 1rem;
    }
  }

  form {
    margin: 2rem 0;
    padding: 1rem;
    width: $max-form-width;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    font: $font-large;

    @media screen and (max-width: 450px) {
      width: 100vw;
    }

    h1 {
      margin: 0 0 0.5rem 0;
      padding: 0;

      text-align: center;
      font: $font-largest-bold;

      @media screen and (max-width: 425px) {
        font: $font-large-bold;
      }
    }

    div {
      margin: 0.75rem 0;
      width: 100%;

      position: relative;

      display: flex;
      align-items: center;
    }

    input {
      margin: 0;
      padding: 0.75rem 1rem;
      width: 100%;

      box-sizing: border-box;
      border-radius: $elements-radius;
      font: $font-large;
      border: 1px solid $neutral-main-color;
      background-color: $white-main-color;

      @media screen and (max-width: 425px) {
        font: $font-normal;
      }
      @media screen and (max-width: 325px) {
        padding: 0.75rem 0.5rem;
      }
    }

    input[type='checkbox'] {
      margin: 0 0.2rem;
      width: 1rem;
      height: 1rem;

      display: inline;
    }

    .checkbox-wrap {
      display: inline-block;
      text-align: center;

      font: $font-large;

      a {
        font: $font-large;
        @media screen and (max-width: 425px) {
          font: $font-small;
        }
      }

      @media screen and (max-width: 425px) {
        font: $font-small;
      }
    }

    .btn {
      margin: 0.75rem 0 1.4rem 0;
      padding: 0.75rem 1rem;
      width: 100%;

      display: flex;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;

      border: none;
      border-radius: $elements-radius;
      font: $font-large;
      color: $light-font-color;
      background-color: $middle-main-color;
      cursor: pointer;

      @media screen and (max-width: 425px) {
        font: $font-normal;
      }
    }

    .btn:hover {
      background-color: $dark-main-color;
    }
  }

  .security-footer {
    margin-top: auto;
    padding: 1rem;
    width: 100%;

    box-sizing: border-box;

    font: $font-small;

    .max-wrap {
      text-align: center;
    }

    a {
      font: $font-small;
    }
  }


  //Для показа, скрытия пароля
  .password-toggle-input {
    position: relative;

    input {
      padding: 0.75rem 3.0rem 0.75rem 1rem !important;
    }

    .eye-open-icon,
    .eye-close-icon {
      position: absolute;
      right: 1rem;

      width: 1rem;
      height: 80%;
      cursor: pointer;
    }
  }
}


